[submodule "themes/cookbook"]
	path = themes/cookbook
	url = https://github.com/deranjer/hugo-cookbook.git
[submodule "public"]
	path = public
	url = git@github.com:cellsummer/cookbook.git
	branch = main
